

@{
    ViewData["Title"] = "Index";
}
@model List<ListTraineeViewModel>

<div class="d-flex justify-content-between m-5">
    <h3 class="text-center">Trainee</h3>
    <a class="btn btn-success" href="/Instructore/Create">Create</a>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Department Name</th>
            <th scope="col">Grade</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Grade</td>
                <td>@item.DepartmentName</td>
                <td><img src="@item.ImageUrl" alt="Avatar" class="img-fluid" width="50"></td>
                <td>
                    <a href="/trainee/details/@item.Id" class="btn btn-primary btn-sm">Details</a>
@*                     <a href="/trainee/edit/@item.Id" class="btn btn-info btn-sm">Edit</a>
                    <a href="/trainee/delete/@item.Id" class="btn btn-danger btn-sm">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="d-flex justify-content-between">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="?page=@ViewBag.Pagination.PrevousePage&size=@ViewBag.Pagination.Size">Previous</a></li>
            @foreach (var item in ViewBag.Pagination.Pages)
            {
                <li class="page-item"><a class="page-link" href="?page=@item&size=@ViewBag.Pagination.Size">@item</a></li>
            }
            <li class="page-item"><a class="page-link" href="?page=@ViewBag.Pagination.NextPage&size=@ViewBag.Pagination.Size">Next</a></li>
        </ul>
    </nav>
    <div class="dropdown mb-3">
        <button class="btn dropdown-toggle" type="button" id="pageSizeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Page Size
        </button>
        <ul class="dropdown-menu" aria-labelledby="pageSizeDropdown">
            <li><a class="dropdown-item dropdown-item-page-size" data-page-size="10" href="?page=@ViewBag.Pagination.CurrentPage&size=10">10</a></li>
            <li><a class="dropdown-item dropdown-item-page-size" data-page-size="25" href="?page=@ViewBag.Pagination.CurrentPage&size=25">25</a></li>
            <li><a class="dropdown-item dropdown-item-page-size" data-page-size="50" href="?page=@ViewBag.Pagination.CurrentPage&size=50">50</a></li>
        </ul>
    </div>
</div>